<h2>Insert new password</h2>

{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}

<form action="/login/password" method="POST">
    <div class="input-field">
        <input id="password" name="password" type="text" class="validate" required>
        <label for="password">password</label>
        <span class="helper-text" data-error="wrong" data-success="right">required field</span>
    </div>

    <input type="text" value="{{csrfToken}}" name="_csrf" hidden>
    <input type="text" value="{{token}}" name="token" hidden>
    <input type="text" value="{{inqusitorId}}" name="inqusitorId" hidden>


    <button class="btn waves-effect waves-light" type="submit" name="action">Reset
        <i class="material-icons right"></i>
    </button>
</form>
    