:root {
    --main-color:#182b53;
    --second-color: #182b5338;
    --alert-color: crimson;
}

nav {
    background-color: var(--main-color);
}

.nav-wrapper {
    padding: 0 2rem;
}

.brand-logo {
    display: flex !important;
    align-items: center;
    height: 100%;
}

.brand-logo__img {
    width: 170px;
    height: 40px;
    object-fit: contain;
}

.flex-inline {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.spacemarine-photo {
    height: 349px;
    object-fit: contain;
}

.btn {
    background: var(--main-color);
}

.worckout-form {
    margin-bottom: 2rem;
}

.alert {
    padding: .5em 1em;
    border-radius: 4px;
    color: var(--alert-color);
    background-color: #cd5c5c99;
}

.tabs .tab a {
    color: var(--second-color);
}

.tabs .tab a:hover,
.tabs .tab a.active {
    color: var(--main-color);
}

.tabs .tab a:focus.active {
    background-color: var(--second-color);
}

.tabs .indicator {
    background-color: var(--main-color);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: var(--main-color);
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating):hover {
    color: var(--second-color);
}

